body {
  background-color: green;
}
h1 {
    margin-left: 40px;
    margin-right: 40px;
}
h2 {
    margin-left: 40px;
    margin-right: 40px;
}
p {
    margin-left: 40px;
    margin-right: 40px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}